@model MoonsOfJupiter.Models.DateRangeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Moons of Jupiter</h1>
    <p>Pick a date range to see the positions of the four main Galilean moons.</p>
</div>

<div class="col-sm-6">
    <form asp-action="Display">
        <div class="form-group">
            <label for="from" asp-for="StartDate">From</label>
            <input id="from" name="StartDate" asp-for="StartDate" type="date" asp-format="{0:yyyy-MM-dd}" class="form-control">
        </div>
        <div class="form-group">
            <label for="to" asp-for="EndDate">To</label>
            <input id="to" name="EndDate" asp-for="EndDate" type="date" asp-format="{0:yyyy-MM-dd}" class="form-control">&nbsp;
        </div>
        <div class="form-group">
            <input type="submit" value="Display" class="btn btn-primary" />
        </div>
    </form>
</div>



